# This file adheres to the YAML5 style.
{
  name: "Go",
  on: ["push", "pull_request"],
  jobs: {
    build: {
      name: "Build",
      "runs-on": "ubuntu-latest",
      strategy: { matrix: { "go-version": [ "stable", "oldstable"] } },
      steps: [
        {
          name: "Set up Go 1.18",
          uses: "actions/setup-go@v4",
          with: { "go-version": "${{ matrix.go-version }}" },
          id: "go",
        },
        {name: "Check out code into the Go module directory", uses: "actions/checkout@v1"},
        {name: "Linter", run: "make lint"},
        {name: "Test", run: "make test"},
        {name: "Test release", run: "make test-release"},
      ],
    },
  },
}
