# This file adheres to the YAML5 style.
{
  name: "Merge",
  on: {
    push: {
      branches: ["master"],
    }
  },
  jobs: {
    build: {
      name: "Build",
      "runs-on": "ubuntu-latest",
      steps: [
        {name: "Check out code into the Go module directory", uses: "actions/checkout@v4"},
        {name: "Test master", run: "make test-master"},
        {name: "Test release", run: "make test-release"},
      ],
    },
  },
}
